/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 37px;
        text-decoration: none;
        font-size: 17px;
        font-weight: 700;
    }
         .nav-links {
            margin-top: 2%;
        }
        /* Change the color of links on hover */
.topnav a:hover {
    color: red;
}

    /* Hide the link that should open and close the topnav on small screens */
    .topnav .icon {
        display: none;
    }


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav a:hover {
        color: red;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

        .topnav.responsive a.icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
    .topnav a:hover {
        color: red;
    }
}
.topnav {
    background-color: #333;
    overflow: hidden;
}
    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 37px;
        text-decoration: none;
        font-size: 17px;
        font-weight: 700;
    }
        .topnav a:hover {
            color: red;
        }
    .topnav .icon {
        display: none;
    }
   .nav-links {
        margin-top: 2%;
    }

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav a:hover {
        color: red;
    }
}
@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

        .topnav.responsive a.icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
    .topnav a:hover {
        color: red;
    }
}
@media screen and (max-width: 1000px) {
    .logo a img {
        height: 80%;
        width: 15%;
        margin-left: -37%;
    }

    .top-match .main-card-content .score {
        text-align: center;
        vertical-align: middle;
        line-height: 70px;
        width: 33.33%;
    }

    .charts {
        margin-left: -21%;
    }

    #home-live-section .next-link-wrapper {
        float: right;
        margin-left: 7%;
        margin-right: 7%;
    }

    header.masthead .post-heading h1 {
        font-size: 27px;
    }

    header.masthead .post-heading .subheading {
        font-size: 17px;
        line-height: 30px;
    }

    #home-video-section .section-title {
        color: #fff;
    }

    #home-video-section .section-description {
        font-size: 14px;
    }


    .top-match {
        min-height: 232px;
        padding: 10px 23px;
    }

        .top-match span {
            font-size: 13px;
            font-weight: bold;
            color: #666;
        }

    .section-padding #season-list .carousel-inner .carousel-item .season-title {
        margin-left: -4%;
    }

    .a {
        margin-top: 1px;
        text-align: center;
    }

    .ml-auto, .mx-auto {
        margin-left: auto !important;
        text-align: center;
    }

    .rep {
        top: 42%;
        left: 84%;
        padding: 10px;
    }

    .post-heading {
        margin-top: -100px;
        margin-left: -5px;
    }
    header.masthead .page-heading, header.masthead .post-heading, header.masthead .site-heading {
        padding: 180px 0;
        margin-left: 20px;
    }
    #home-live-section .next-link-wrapper .next-link{
        margin-left:-44%;
    }
   
    #logo {
        margin-left: 66px;
    }
    #chevron-right {
        color: white;
        border: 5px solid #d61b1b;
        background: #d61b1b;
        margin-left: -1px;
        margin-right: 5%;
    }
    #chevron-left {
        color: orange;
        margin-left: -3%;
       
    }
    #about-heat .heat-list-wrapper {
        padding: 0px 11px;
    }
    .rep-youtube {
        top: 65%;
        left: 84%;
    }
    .paddingg {
        padding: 0px 10px;
    }
    .replay-video p {
        font-weight: 700;
        margin-top: 27%;
        font-size: 9px;
        margin-left: -58px;
    }
    .replayy {
        width: 29%;
        margin-top: 16%;
    }
    #icon-video {
        color: white;
        font-size: 20px;
    }
    #home-person-info #person-list .info-wrapper {
        float: unset;
        margin: 20px auto;
        margin-left: 20px;
    }
    .promoo {
        padding: 0px 10px;
    }
    .logoo {
        margin-left: 66px;
    }
}
