.logo {
    position: relative;
    z-index: 123;
    padding: 10px;
    font: 18px verdana;
    color: #6DDB07;
    float: left;
    width: 15%
}

    .logo a {
        color: #6DDB07;
        margin-left: 37%;
    }

nav {
    position: relative;
    width: 980px;
    margin: 0 auto;
}

#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a, #cssmenu #head-mobile {
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

    #cssmenu:after, #cssmenu > ul:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0
    }

    #cssmenu #head-mobile {
        display: none
    }

#cssmenu {
    font-family: sans-serif;
    background: #333
}

    #cssmenu > ul > li {
        float: left
    }

        #cssmenu > ul > li > a {
            padding: 17px;
            font-size: 12px;
            letter-spacing: 1px;
            text-decoration: none;
            color: #ddd;
            font-weight: 700;
        }

        #cssmenu > ul > li:hover > a, #cssmenu ul li.active a {
            color: #fff
        }

        #cssmenu > ul > li:hover, #cssmenu ul li.active:hover, #cssmenu ul li.active, #cssmenu ul li.has-sub.active:hover {

            /*background: red !important;*/

            -webkit-transition: background .3s ease;
            -ms-transition: background .3s ease;
            transition: background .3s ease;
        }

        #cssmenu > ul > li.has-sub > a {
            padding-right: 30px
        }

            #cssmenu > ul > li.has-sub > a:after {
                position: absolute;
                top: 22px;
                right: 11px;
                width: 8px;
                height: 2px;
                display: block;
                background: #ddd;
                content: ''
            }

            #cssmenu > ul > li.has-sub > a:before {
                position: absolute;
                top: 19px;
                right: 14px;
                display: block;
                width: 2px;
                height: 8px;
                background: #ddd;
                content: '';
                -webkit-transition: all .25s ease;
                -ms-transition: all .25s ease;
                transition: all .25s ease
            }

        #cssmenu > ul > li.has-sub:hover > a:before {
            top: 23px;
            height: 0
        }

    #cssmenu ul ul {
        position: absolute;
        left: -9999px
    }

        #cssmenu ul ul li {
            height: 0;
            -webkit-transition: all .25s ease;
            -ms-transition: all .25s ease;
            background: #333;
            transition: all .25s ease
        }

            #cssmenu ul ul li:hover {
            }

    #cssmenu li:hover > ul {
        left: auto
    }

        #cssmenu li:hover > ul > li {
            height: 35px
        }

    #cssmenu ul ul ul {
        margin-left: 100%;
        top: 0
    }

    #cssmenu ul ul li a {
        border-bottom: 1px solid rgba(150,150,150,0.15);
        padding: 11px 15px;
        width: 170px;
        font-size: 12px;
        text-decoration: none;
        color: #ddd;
        font-weight: 400;
    }

    #cssmenu ul ul li:last-child > a, #cssmenu ul ul li.last-item > a {
        border-bottom: 0
    }

    #cssmenu ul ul li:hover > a, #cssmenu ul ul li a:hover {
        color: #fff
    }

    #cssmenu ul ul li.has-sub > a:after {
        position: absolute;
        top: 16px;
        right: 11px;
        width: 8px;
        height: 2px;
        display: block;
        background: #ddd;
        content: ''
    }

    #cssmenu ul ul li.has-sub > a:before {
        position: absolute;
        top: 13px;
        right: 14px;
        display: block;
        width: 2px;
        height: 8px;
        background: #ddd;
        content: '';
        -webkit-transition: all .25s ease;
        -ms-transition: all .25s ease;
        transition: all .25s ease
    }

    #cssmenu ul ul > li.has-sub:hover > a:before {
        top: 17px;
        height: 0
    }

    #cssmenu ul ul li.has-sub:hover, #cssmenu ul li.has-sub ul li.has-sub ul li:hover {
        background: #363636;
    }

    #cssmenu ul ul ul li.active a {
        border-left: 1px solid #333
    }

    #cssmenu > ul > li.has-sub > ul > li.active > a, #cssmenu > ul ul > li.has-sub > ul > li.active > a {
        border-top: 1px solid #333
    }

@media screen and (max-width:1000px) {
    .logo {
        /*position: absolute;*/
        top: 0;
        left: 0;
        width: 100%;
        height: 46px;
        text-align: center;
        padding: 10px 0 0 0;
        float: none
    }

    .logo2 {
        display: none
    }

    nav {
        width: 100%;
    }

    #cssmenu {
        width: 100%
    }

        #cssmenu ul {
            width: 100%;
            display: none
        }

            #cssmenu ul li {
                width: 100%;
                border-top: 1px solid #444
            }

                #cssmenu ul li:hover {
                    background: #363636;
                }

            #cssmenu ul ul li, #cssmenu li:hover > ul > li {
                height: auto
            }

                #cssmenu ul li a, #cssmenu ul ul li a {
                    width: 100%;
                    border-bottom: 0
                }

        #cssmenu > ul > li {
            float: none
        }

        #cssmenu ul ul li a {
            padding-left: 25px
        }

        #cssmenu ul ul li {
            background: #333 !important;
        }

            #cssmenu ul ul li:hover {
                background: #363636 !important
            }

        #cssmenu ul ul ul li a {
            padding-left: 35px
        }

        #cssmenu ul ul li a {
            color: #ddd;
            background: none
        }

        #cssmenu ul ul li:hover > a, #cssmenu ul ul li.active > a {
            color: #fff
        }

        #cssmenu ul ul, #cssmenu ul ul ul {
            position: relative;
            left: 0;
            width: 100%;
            margin: 0;
            text-align: left
        }

            #cssmenu > ul > li.has-sub > a:after, #cssmenu > ul > li.has-sub > a:before, #cssmenu ul ul > li.has-sub > a:after, #cssmenu ul ul > li.has-sub > a:before {
                display: none
            }

        #cssmenu #head-mobile {
            display: block;
            padding: 23px;
            color: #ddd;
            font-size: 12px;
            font-weight: 700
        }

    .button {
        width: 55px;
        height: 46px;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        z-index: 12399994;
    }

        .button:after {
            position: absolute;
            top: 22px;
            right: 20px;
            display: block;
            height: 4px;
            width: 20px;
            border-top: 2px solid #dddddd;
            border-bottom: 2px solid #dddddd;
            content: ''
        }

        .button:before {
            -webkit-transition: all .3s ease;
            -ms-transition: all .3s ease;
            transition: all .3s ease;
            position: absolute;
            top: 16px;
            right: 20px;
            display: block;
            height: 2px;
            width: 20px;
            background: #ddd;
            content: ''
        }

        .button.menu-opened:after {
            -webkit-transition: all .3s ease;
            -ms-transition: all .3s ease;
            transition: all .3s ease;
            top: 23px;
            border: 0;
            height: 2px;
            width: 19px;
            background: #fff;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg)
        }

        .button.menu-opened:before {
            top: 23px;
            background: #fff;
            width: 19px;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg)
        }

    #cssmenu .submenu-button {
        position: absolute;
        z-index: 99;
        right: 0;
        top: 0;
        display: block;
        border-left: 1px solid #444;
        height: 46px;
        width: 46px;
        cursor: pointer
    }

        #cssmenu .submenu-button.submenu-opened {
            background: #262626
        }

    #cssmenu ul ul .submenu-button {
        height: 34px;
        width: 34px
    }

    #cssmenu .submenu-button:after {
        position: absolute;
        top: 22px;
        right: 19px;
        width: 8px;
        height: 2px;
        display: block;
        background: #ddd;
        content: ''
    }

    #cssmenu ul ul .submenu-button:after {
        top: 15px;
        right: 13px
    }

    #cssmenu .submenu-button.submenu-opened:after {
        background: #fff
    }

    #cssmenu .submenu-button:before {
        position: absolute;
        top: 19px;
        right: 22px;
        display: block;
        width: 2px;
        height: 8px;
        background: #ddd;
        content: ''
    }

    #cssmenu ul ul .submenu-button:before {
        top: 12px;
        right: 16px
    }

    #cssmenu .submenu-button.submenu-opened:before {
        display: none
    }

    #cssmenu ul ul ul li.active a {
        border-left: none
    }

    #cssmenu > ul > li.has-sub > ul > li.active > a, #cssmenu > ul ul > li.has-sub > ul > li.active > a {
        border-top: none
    }
}
#cssmenu {
    font-family: sans-serif;
    background: rgb(3,1,2, 0.8) !important;
    width: 100%;
}
@media screen and (max-width: 1000px) {
    .logo a img {
        height: 80%;
        width: 15%;
        margin-left: -37%;
    }
    .top-match .main-card-content .score {
        text-align: center;
        vertical-align: middle;
        line-height: 70px;
        width: 33.33%;
        
    }
    .charts {
        margin-left: -21%;
    }
    #home-live-section .next-link-wrapper {
       
        float: right;
        /*margin-left: 7%;*/
        margin-right: 7%;
    }
    header.masthead .post-heading h1 {
        font-size: 27px;
    }
    header.masthead .post-heading .subheading {
        font-size: 17px;
        line-height: 30px;
    }
    #home-video-section .section-title {
        color: #fff;
        margin-left: 9%;
    }

    #home-video-section .section-description {
        font-size: 14px;
        margin-left: 9%;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        margin-left: 30%;
    }

    .top-match {
        min-height: 232px;
        padding: 10px 23px;
    }
        .top-match span {
            font-size: 13px;
            font-weight: bold;
            color: #666;
        }

    .carousel-control-next-icon {
        background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' …%3Cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3E%3C/svg%3E);
        margin-top: 500px;
        margin-right: -32px;
    }
    .a {
        margin-top: 1px;
    }

    .ml-auto, .mx-auto {
        margin-left: auto !important;
        text-align: center;
    }

    .rep {
        top: 24%;
        left: 81%;
        padding: 10px;
    }

    .post-heading {
        margin-top: -100px;
        margin-left: -5px;
    }
    /*.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
        position: relative;
        width: 98%;
    }
    .lt {
        width: 96%;
    }*/

    #home-live-section .next-link-wrapper .next-link {
        line-height: unset;
        margin-left: -45%;
    }
    #home-video-section .wrapper-control .carousel-control-next-icon {
        background-image: url(../img/arrow-square.png);
        margin-top: 7%;
    }
    .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 25px;
        text-align: center;
    }
    .camera {
        left: 78%;
    }
    .youtube {
        left: 77%;
    }
    .rep-youtube {
        top: 47%;
        left: 81%;
    }
    .carousel-item {
        position: relative;
        display: none;
        float: left;
        width: 100%;
        margin-right: -100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: -webkit-transform .6s ease-in-out;
        transition: transform .6s ease-in-out;
        transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;
    }

   

}



#cssmenu > ul > li > a {
    padding: 10px 30px;
    font-size: 15px;
    letter-spacing: 3px;
    text-decoration: none;
    font-weight: 900;
    margin-left: 25%;
    font-family: verdana;
}

#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a, #cssmenu #head-mobile {
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    color: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    #cssmenu > ul > li {
        float: left;
        margin-top: 37px;
    }
