.videon {
    margin-right: 1%;
    margin-top: 1%;
}
.img_video {
    width: 100%;
    margin-top: 1.5%;
    height:98%;
}
.col_video {
    display: flex;
    margin-left: -3%;
}
.roww {
    display: flex;
}
.marginn {
    margin-right: -0.5%;
}
.imgage_video {
    width: 106%;
    height: 100%;
}
.marg{
    margin-bottom:2%;
}
.margin_top{
    margin-top:2%;
}
@media screen and (max-width:1000px){
    .img_video {
        width: 79%;
        margin-top: 14.5%;
        height: 98%;
    }
    .col_video {
        margin-left: -3%;
        display:block;
    }
    .re {
        margin-top: 11%;
        width: 81%;
    }
    .videon {
        margin-right: 1%;
        margin-top: -1%;
    }
    /*.owl-carousel.owl-loaded {
        display: table-cell !important;
    }*/
}
